.MerchantLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1461696114087-397271a7aedc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
.MerchantLogin form{
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    padding: 20px 50px;
}